<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <title>Galeria</title>
    <style>
        #G_body{
            padding: 10px;
        }
        .lista ul li{
            border-bottom: 1px solid #cccccc;
        }
        .ciudad{
            border-bottom: 1px solid #cccccc;
            background-color: #303f9f;
            color: white;
        }
    </style>
</head>
<body id="G_body">
    <div class="ciudad">
        <h4>Ciudad</h4>
    </div>
    <div class="lista">
        <ul class="mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content" cli_id="qweqwe" onclick="verfotos(this)">
                    Bryan Cranston
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content" cli_id="345345" onclick="verfotos(this)">
                    Bryan Cranston 2
                </span>
            </li>
        </ul>
    </div>
    <div class="ciudad">
        <h4>Ciudad</h4>
    </div>
    <div class="lista">

    </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
        function verfotos(este){
            console.log(este.getAttribute("cli_id"))
            window.open("./fotos.html?clid="+este.getAttribute("cli_id"),"_blank")
        }
    </script>
</body>
</html>