<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Galeria</title>
    <style>
        header {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            height: 50px;
            background-color: #303f9f;
            color: white;
            box-shadow: 0px 2px 8px #cccc;
            display: flex;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
            font-size: 20px;
        }
    
        main {
            position: absolute;
            top: 50px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            overflow-y: auto;
            padding: 10px;
        }
    
        .cont_img {
            width: 450px;
            height: 450px;
            display: inline-grid;
            grid-template-rows: 400px 50px;
            box-shadow: 0px 0px 8px 2px #cccc;
        }
    
        .cont_foto {
            display: grid;
            grid-template-columns: 25px auto 25px;
        }
    
        .foto {
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .foto img {
            max-width: 100%;
            max-height: 100%;
        }
    
        .giro {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    
        .fecha {
            box-sizing: border-box;
            border-top: 1px solid #cccc;
            display: flex;
            align-items: center;
            padding: 15px;
            font-size: 15px;
            
        }
    </style>
</head>
<body>
    <header>
        <span style="cursor: pointer;" onclick="window.close()"><i class="material-icons">arrow_back_ios</i></span>
        <%= nombre %>
    </header>
    <main>
        <% for(i=0;i<=fotos.length-1;i++){ %>
        <div class="cont_img">
            <div class="cont_foto">
                <div class="giro" onclick="giro(-90,this)">
                    <i class="material-icons">
                        rotate_left
                    </i>
                </div>
                <div class="foto">
                    <img src="../uploads/<%= fotos[i].nombre %>" alt="">
                </div>
                <div class="giro" onclick="giro(90,this)">
                    <i class="material-icons">
                        rotate_right
                    </i>
                </div>
            </div>
            <%
            var disfecha;
            var dia =  fotos[i].fecha.getDate();
            var mes = fotos[i].fecha.getMonth()+1;
            var year = fotos[i].fecha.getFullYear();
            disfecha = dia+"/"+mes+"/"+year
             %>
            <div class="fecha"><%= disfecha%></div>
        </div>
        <% } %>
    </main>
    <script>
        function giro(G,este){
            if(este.parentElement.getElementsByTagName("img")[0].style.transform == ""){
                var rot = 0;
                var giro = rot + G;
                este.parentElement.getElementsByTagName("img")[0].style.transform = "rotate("+giro+"deg)"
            }
            else{
                var rot = este.parentElement.getElementsByTagName("img")[0].style.transform.split("(")[1].split("deg")[0];
                var giro = parseInt(rot) + G;
                este.parentElement.getElementsByTagName("img")[0].style.transform = "rotate("+giro+"deg)"
            }
        }
    </script>
</body>
</html>