<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <script>
        var dias = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"];
        var meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre",]
        var fecha = new Date('<%- cli.vitacora[0].fecha %>');
        console.log(dias[fecha.getDay()]);
        console.log(fecha.getDate());
        console.log(meses[fecha.getMonth()]);
        console.log(fecha.getFullYear());
        console.log( dias[fecha.getDay()]+" "+fecha.getDate()+" de "+meses[fecha.getMonth()]+" "+fecha.getFullYear() );
    </script>
</body>
</html>