<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<body>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <table class="mdl-data-table mdl-js-data-table" style="width: 100%">
                <thead class="mdl-color--indigo-500">
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric mdl-color-text--grey-50">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                        <% for(i=0;i<=fecha.length-1;i++){ %>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" onclick="ver('<%= i %>')"><%=fecha[i].fecha%></td>
                    </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>  
    <script>
        function ver(id){
            console.log(id);
        }
    </script>  
</body>
</html>